### These env vars are for authentication & database to work. If you don't require them, feel free to enter dummy values for all these.

# Create a free PostgreSQL database: https://vercel.com/postgres
# If you're deploying this template with a Vercel Deploy Button, these will be configured automatically for you.
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=

# Follow the instructions here to create a Google OAuth app: https://refine.dev/blog/nextauth-google-github-authentication-nextjs/#for-googleprovider-make-sure-you-have-a-google-account
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Only for production – generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=

## Only required for localhost
NEXTAUTH_URL=http://localhost:3000
PORT=

VERCEL_ENV=
NODE_ENV=
NEXT_PUBLIC_NODE_ENV=

TRIGGER_API_URL=
TRIGGER_API_KEY=
NEXT_PUBLIC_TRIGGER_PUBLIC_API_KEY=

POSTMARK_API_TOKEN=
POSTMARK_FROM_EMAIL=
SENDGRID_API_KEY=

ANALYZE=
LOG_API_REQUESTS=
STORE_FINE_TUNE_DATA=
# OPENAI_API_KEY="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"
# OPENAI_ORG_ID="org-3j6ocIlbn7X1lHKtKmhPOTG1"

OPENAI_API_KEY=
OPENAI_ORG_ID=

KINDE_CLIENT_ID=
KINDE_CLIENT_SECRET=
KINDE_ISSUER_URL=
KINDE_SITE_URL=
KINDE_POST_LOGOUT_REDIRECT_URL=
KINDE_POST_LOGIN_REDIRECT_URL=


SENTRY_AUTH_TOKEN=

NEXT_PUBLIC_SENTRY_DSN=
